:root {
    --gradient-midpoint: 50%;
    --gradient-start-color: #a7dee0;
    --gradient-end-color: #7ca2ac
}

.menu-body, .game-body {
    margin-top: 67px;
    background: linear-gradient(to right, var(--gradient-start-color), var(--gradient-end-color) var(--gradient-midpoint));
}

.center-aligned {
    display: block;
    align-content: center;
    text-align: center;
}

#room-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.number-input {
    width: 21px;
}

.room-code-info {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.green-text {
    cursor: pointer;
    font-weight: bold;
    color: rgb(0, 63, 0);
}